.cartView {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
}

.cartView h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}

.productosCarrito {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}

.cartInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }

  .cartInfo h3{
   font-size: 22px;
  }
.cartInfo p{
   font-size: 20px;
  }


.cartTotal {
    margin-top: 25px;
    padding: 20px;
    text-align: right;
    border-top: 2px solid #ddd;
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.cartTotal h3 {
    margin: 0;
    color: rgb(58, 17, 97);
    font-size: 25px;
   
}

.carritoVacio {
    text-align: center;
    margin-top: 50px;
}

.boton {
    color: white;
    font-family: "outfit", sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
}