footer h2 {
    color: white;
    font-family: "borel", cursive;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    background-color: rgb(178, 142, 211);
}

footer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    background-color: white;
}

.rs {
    width: 5vw;
}
