@import url('https://fonts.googleapis.com/css2?family=Borel&family=Outfit:wght@100..900&display=swap');

.detalle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

h1,
h2 {
    display: block;
    padding: 8px 20px;
    color: rgb(58, 17, 97);
    text-decoration: none;
    white-space: nowrap;
}

h1 {
    font-family: "Outfit", sans-serif;
    font-size: 56px;
    letter-spacing: -1.68px;
    margin: 32px 0;
}

h2 {
    font-family: "Outfit", sans-serif;
    font-size: 24px;
    line-height: 118%;
    letter-spacing: -0.24px;
    margin: 0 0 8px;
}

p {
    margin: 0;
    font-family: "Outfit", sans-serif;
    padding: 10px;
}
.description{
font-family: "Outfit", sans-serif;
}

.price{
font-family: "Outfit", sans-serif;
}



@media (max-width: 1024px) {
    h1 {
        font-size: 36px;
        margin: 20px 0;
    }

    h2 {
        font-size: 20px;
    }
}  