.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #b3e6ae;
    height: 100px;
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*padding: 30px;*/
    gap: 20px;

    list-style-type: none;
}

.nav-left li {
    position: relative;
}

.nav-left a {
    color: darkgreen;
    font-family: "Geom", sans-serif;
    font-weight: 500;
    font-size: 3vh;
    text-decoration: none;
}

.nav-left a:hover {
    color: white;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*padding: 10px;*/
    gap: 20px;

    list-style-type: none;
}

.nav-right a {
    color: darkgreen;
    font-family: "Geom", sans-serif;
    font-weight: 500;
    font-size: 3vh;

    text-decoration: none;
}

.nav-right a:hover {
    color: white;
}

.logo1 img {
    height: 200px;
}

/*DROPDOWN*/

.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background: white;
    padding: 10px 0;
    margin: 0;
    list-style: none;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li a {
    display: block;
    padding: 8px 20px;
    color: darkgreen;
    text-decoration: none;
    white-space: nowrap;
}

.dropdown-menu li a:hover {
    background: #eee;
   } 