@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Outfit:wght@100..900&display=swap');

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(199, 167, 230);
    height: 100px;
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*padding: 30px;*/
    gap: 20px;

    list-style-type: none;
}

.nav-left li {
    position: relative;
}

.nav-left a {
    color: white;
    font-family: "Borel", cursive;
    font-weight: 500;
    font-size: 3vh;
    text-decoration: none;
}

.nav-left a:hover {
    color:   rgb(58, 17, 97);
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*padding: 10px;*/
    gap: 20px;

    list-style-type: none;
}

.nav-right a {
   color: white;
    font-family: "Borel", cursive;
    font-weight: 500;
    font-size: 3vh;
    text-decoration: none;
}

.nav-right a:hover {
    color: rgb(58, 17, 97);
}

.logo img {
    height: 100px;
}

/*DROPDOWN*/

.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background: white;
    padding: 10px 0;
    margin: 0;
    list-style: none;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li a {
     font-family: "outfit", sans-serif;
    display: block;
    padding: 8px 20px;
    color: rgb(58, 17, 97);
    text-decoration: none;
    white-space: nowrap;
}

.dropdown-menu li a:hover {
    background: #eee;
   } 